.file-editor {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 20px;
}

.file-editor > * {
  width: 100%;
}

.parsing-spinner {
  width: fit-content !important;
}
