<div id="addRowModal" class="modal" [ngClass]="{ 'show d-block': showModal }">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ editMode ? "Edit Row" : "Add New Row" }}</h5>
        <button type="button" class="close" (click)="closeModal()">
          &times;
        </button>
      </div>

      <div class="alert alert-warning" role="alert" *ngIf="warningMessage">
        <i class="bi bi-exclamation-triangle-fill"></i> {{ warningMessage }}
      </div>

      <div class="alert alert-danger" role="alert" *ngIf="errorMessage">
        <i class="bi bi-exclamation-triangle-fill"></i> {{ errorMessage }}
      </div>

      <form [formGroup]="form" (ngSubmit)="saveItem()" *ngIf="form">
        <div class="modal-body">
          <div *ngFor="let column of columns" class="form-group">
            <!-- Add a red star for required fields -->
            <label [for]="column.name" *ngIf="column.type !== 'boolean'">
              {{ column.name }}
              <span
                *ngIf="!column.default && !column.isNullable"
                class="text-danger"
                >*</span
              >
            </label>

            <app-foreign-key-select
              *ngIf="column.constraints.foreignKey"
              [sourceType]="sourceType"
              [sourceId]="sourceId"
              [column]="column"
              [isInvalid]="
                form.controls[column.name].invalid &&
                (form.controls[column.name].touched || submitted)
              "
              (valueChange)="form.controls[column.name].setValue($event)"
            ></app-foreign-key-select>

            <ng-container
              [ngSwitch]="column.type"
              *ngIf="!column.constraints.foreignKey"
            >
              <input
                *ngSwitchCase="'number'"
                type="number"
                class="form-control"
                [ngClass]="{
                  'is-invalid':
                    form.controls[column.name].invalid &&
                    (form.controls[column.name].touched || submitted)
                }"
                formControlName="{{ column.name }}"
              />
              <input
                *ngSwitchCase="'string'"
                type="text"
                class="form-control"
                [ngClass]="{
                  'is-invalid':
                    form.controls[column.name].invalid &&
                    (form.controls[column.name].touched || submitted)
                }"
                formControlName="{{ column.name }}"
              />
              <input
                *ngSwitchCase="'json'"
                type="text"
                class="form-control"
                [ngClass]="{
                  'is-invalid':
                    form.controls[column.name].invalid &&
                    (form.controls[column.name].touched || submitted)
                }"
                formControlName="{{ column.name }}"
              />
              <input
                *ngSwitchCase="'datetime'"
                type="datetime-local"
                class="form-control"
                [ngClass]="{
                  'is-invalid':
                    form.controls[column.name].invalid &&
                    (form.controls[column.name].touched || submitted)
                }"
                formControlName="{{ column.name }}"
              />
              <input
                *ngSwitchCase="'date'"
                type="date"
                class="form-control"
                [ngClass]="{
                  'is-invalid':
                    form.controls[column.name].invalid &&
                    (form.controls[column.name].touched || submitted)
                }"
                formControlName="{{ column.name }}"
              />
              <div class="form-check" *ngSwitchCase="'boolean'">
                <input
                  type="checkbox"
                  class="form-check-input"
                  [ngClass]="{
                    'is-invalid':
                      form.controls[column.name].invalid &&
                      (form.controls[column.name].touched || submitted)
                  }"
                  formControlName="{{ column.name }}"
                />
                <label class="form-check-label" for="defaultCheck1">
                  {{ column.name }}
                </label>
              </div>
              <input
                *ngSwitchDefault
                type="text"
                class="form-control"
                [ngClass]="{
                  'is-invalid':
                    form.controls[column.name].invalid &&
                    (form.controls[column.name].touched || submitted)
                }"
                formControlName="{{ column.name }}"
              />
            </ng-container>

            <div
              *ngIf="column.isAutoGenerated"
              class="error-text"
              style="color: gray"
            >
              {{ column.name }} is autogenerated
            </div>

            <!-- Error message for required fields -->
            <div
              *ngIf="
                form.controls[column.name].invalid &&
                (form.controls[column.name].touched || submitted)
              "
              class="error-text text-danger"
            >
              {{ column.name }} is required
            </div>
          </div>
        </div>

        <div class="modal-footer modal-action-buttons">
          <button type="submit" class="btn btn-primary" [disabled]="isSaving">
            {{ isSaving ? "Saving..." : "Save" }}
          </button>
          <button
            type="button"
            class="btn btn-secondary"
            (click)="closeModal()"
          >
            Cancel
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
