.modal-content {
  max-height: unset;
  overflow: unset;
}

.modal-body {
  max-height: 50svh;
  overflow-y: auto;
}

.modal-action-buttons {
  gap: 10px;
}

/* Custom error styling */
.is-invalid {
  border-color: red !important;
}

.error-text {
  color: red;
  font-size: 12px;
}

.alert {
  margin-bottom: 0;
  border-radius: 0;
}
