<div class="modal" style="display: block">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">View Document</h5>
        <button type="button" class="close" (click)="closeModal()">
          &times;
        </button>
      </div>
      <div class="modal-body">
        <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
        <app-error-message-card
          *ngIf="errorMessage"
          [errorMessage]="errorMessage"
        ></app-error-message-card>
        <pre>{{ document }}</pre>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" (click)="closeModal()">Close</button>
      </div>
    </div>
  </div>
</div>
