<div id="editDocumentModal" class="modal" style="display: block">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit Document</h5>
        <button type="button" class="close" (click)="closeModal()">
          &times;
        </button>
      </div>
      <div class="modal-body">
        <app-loading-spinner *ngIf="isLoadingDocument"></app-loading-spinner>
        <ng-container *ngIf="!isLoadingDocument">
          <app-error-message-card
            *ngIf="errorMessage"
            [errorMessage]="errorMessage"
          ></app-error-message-card>
          <app-json-key-value-editor
            [schema]="schema"
            [data]="initialData"
            (dataChange)="jsonData = $event"
          ></app-json-key-value-editor>
        </ng-container>
      </div>
      <div class="modal-footer">
        <button
          class="btn btn-secondary"
          (click)="closeModal()"
          [disabled]="isSaving"
        >
          Cancel
        </button>
        <button
          class="btn btn-primary"
          (click)="saveDocument()"
          [disabled]="isSaving"
        >
          Save
        </button>
      </div>
    </div>
  </div>
</div>
