.modal-dialog {
  max-width: 80svw;
  width: fit-content;
  height: 100svh;
}

.modal-content {
  width: fit-content;
  max-width: 80svw;
  overflow: unset;
}

.modal-body {
  padding: 10px;
  overflow: auto;
  width: fit-content;
}
