<div class="app" *ngIf="config">
  <ng-container [ngSwitch]="selectedSource">
    <app-file-editor *ngSwitchCase="'File'"></app-file-editor>
    <app-table-editor *ngSwitchCase="'Postgres'"></app-table-editor>
    <app-table-editor *ngSwitchCase="'MSSQL'"></app-table-editor>
    <app-elasticsearch-editor
      *ngSwitchCase="'Elasticsearch'"
    ></app-elasticsearch-editor>
    <!--<app-mssql-editor *ngSwitchCase="'MSSQL'" [config]="sourceConfig"></app-mssql-editor>-->
    <p *ngSwitchDefault>No editor available</p>
  </ng-container>
</div>
