<div class="array-container">
  <h5 class="array-title">
    <i class="bi bi-list"></i> Array
    <button
      class="btn btn-outline-secondary btn-sm"
      (click)="toggleCollapse()"
      title="Toggle collapse"
    >
      <i
        class="bi"
        [ngClass]="collapsed ? 'bi-chevron-down' : 'bi-chevron-up'"
      ></i>
    </button>
  </h5>

  <div *ngIf="!collapsed">
    <div *ngFor="let element of data; let i = index" class="array-item">
      <ng-container *ngIf="isPrimitive(element); else objectEditor">
        <input
          type="text"
          [value]="element"
          (change)="onPrimitiveChange(i, $event.target.value)"
          class="form-control array-input"
        />
      </ng-container>

      <ng-template #objectEditor>
        <app-json-key-value-editor
          [schema]="schema"
          [data]="element"
          (dataChange)="onObjectChange(i, $event)"
        ></app-json-key-value-editor>
      </ng-template>

      <button
        class="remove-btn btn btn-outline-danger btn-sm"
        (click)="removeItem(i)"
      >
        <i class="bi bi-trash"></i>
      </button>
    </div>

    <button class="add-btn btn btn-outline-success btn-sm" (click)="addItem()">
      <i class="bi bi-plus-circle"></i> Add Item
    </button>
  </div>
</div>
