<div id="addDocumentModal" class="modal" style="display: none">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add New Document</h5>
        <button type="button" class="close" (click)="closeModal()">
          &times;
        </button>
      </div>
      <div class="modal-body">
        <app-json-key-value-editor
          [schema]="schema"
          (dataChange)="jsonData = $event"
        ></app-json-key-value-editor>
      </div>
      <div class="modal-footer">
        <button
          class="btn btn-secondary"
          (click)="closeModal()"
          [disabled]="isSaving"
        >
          Cancel
        </button>
        <button
          class="btn btn-primary"
          (click)="saveDocument()"
          [disabled]="isSaving"
        >
          Save
        </button>
      </div>
      <div class="mr-2" style="width: 98%; align-self: flex-end">
        <app-error-message-card
          *ngIf="errorMessage"
          [errorMessage]="errorMessage"
        ></app-error-message-card>
      </div>
    </div>
  </div>
</div>
