<div class="container">
  <h2>Table Editor - {{ tableName }}</h2>

  <div *ngIf="errorMessage && !loading" class="alert alert-danger">
    {{ errorMessage }}
  </div>

  <div class="input-group mb-3 search-input">
    <input
      type="text"
      [(ngModel)]="searchString"
      class="form-control"
      placeholder="Search"
      aria-label="Search"
      aria-describedby="basic-addon2"
    />
    <div class="input-group-append">
      <button
        class="btn btn-outline-secondary"
        type="button"
        (click)="search()"
      >
        Search
      </button>
    </div>
  </div>

  <div class="actions-bar">
    <app-dropdown
      *ngIf="columns.length > 0"
      [items]="columnNames"
      [placeholder]="'Column: All'"
      [displayFn]="displayColumnDropdownLabel"
      (selectionChange)="onColumnSelect($event)"
    ></app-dropdown>

    <button class="btn btn-primary my-3" (click)="openModal()">
      Add New Row
    </button>
  </div>

  <app-add-row-modal
    [showModal]="showModal"
    [editMode]="editMode"
    [columns]="columns"
    (closeModalEvent)="closeModal()"
    (saveItemEvent)="addRow($event)"
  >
  </app-add-row-modal>

  <div *ngIf="loading" class="spinner-container">
    <div class="spinner-border text-primary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>

  <div *ngIf="!loading">
    <!-- Existing Rows -->
    <div class="no-rows" *ngIf="rows.length === 0"><h3>No rows</h3></div>

    <div class="table-container" *ngIf="rows.length > 0">
      <table class="table table-striped">
        <thead>
          <tr>
            <th *ngFor="let column of columns">{{ column.name }}</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of rows; let i = index">
            <td *ngFor="let column of columns">
              <ng-container *ngIf="!editMode[i]; else editField">
                {{ row[column.name] }}
              </ng-container>
              <ng-template #editField>
                <input class="form-control" [(ngModel)]="row[column.name]" />
              </ng-template>
            </td>
            <td class="sticky-actions">
              <button
                *ngIf="!editMode[i]"
                class="btn btn-warning btn-sm"
                (click)="editRow(i)"
              >
                Edit
              </button>
              <button
                *ngIf="editMode[i]"
                class="btn btn-success btn-sm"
                (click)="saveRow(row, i)"
              >
                Save
              </button>
              <button
                class="btn btn-danger btn-sm"
                (click)="deleteRow(row.id, i)"
              >
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
