.table-editor {
  height: 100%;
  max-height: 100%;
  max-width: 100%;
  overflow: auto;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0;
  max-width: 100%;
}

.search-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 75px;
}

.spinner-container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.btn {
  width: 200px;
}

.search-bar {
  display: flex;
  align-items: center;
  gap: 60px;
}

.search-input {
  width: 250px;
}

.input-group-append {
  width: 20px;
}

.table-container {
  width: 100%;
  overflow-x: auto;
  position: relative;
}

.no-rows {
  display: flex;
  justify-content: center;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 8px;
  border: 1px solid #ddd;
  white-space: nowrap;
}

th:last-child,
td:last-child {
  position: sticky;
  right: 0;
  background-color: white;
  z-index: 2;
  text-align: center;
}

thead th {
  background-color: #f8f9fa;
  position: sticky;
  top: 0;
  z-index: 3;
}

.sticky-actions {
  display: flex;
  gap: 10px;
  max-width: 160px;
}

.sentinel {
  height: 10px;
  width: 10px;
}

.table-list {
  display: flex;
  align-items: center;
  gap: 10px;
}
