<div class="container elastic-container">
  <button class="back-button" (click)="goBack()">
    <i class="bi bi-arrow-left"></i>
    <span>Back To Source Selection</span>
  </button>

  <h2>Elasticsearch Document Editor</h2>

  <div *ngIf="indices.length === 0 && !loading">
    <h5>No indices</h5>
  </div>

  <app-error-message-card
    *ngIf="errorMessage && !loading"
    [errorMessage]="errorMessage"
  ></app-error-message-card>

  <div *ngIf="loading" class="spinner-container">
    <div class="spinner-border text-primary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>

  <!-- Select Index -->
  <div *ngIf="indices.length">
    <label>Select Index:</label>
    <select
      [(ngModel)]="selectedIndex"
      (change)="handleIndexListChange()"
      class="form-control"
    >
      <option *ngFor="let index of indices" [value]="index">{{ index }}</option>
    </select>
  </div>

  <div class="input-group mb-3 search-input" *ngIf="selectedIndex">
    <input
      type="text"
      [(ngModel)]="searchString"
      class="form-control"
      placeholder="Search Documents"
      aria-label="Search"
      aria-describedby="basic-addon2"
      (keydown.enter)="search()"
    />
    <div class="input-group-append">
      <button
        class="btn btn-outline-secondary"
        type="button"
        (click)="search()"
      >
        Search
      </button>
      <button
        class="btn btn-outline-secondary dropdown-toggle"
        type="button"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
        (click)="toggleFilterDropdown()"
      >
        Filters
        <span
          *ngIf="selectedFieldCount > 0"
          class="badge badge-pill badge-info ml-2"
        >
          {{ selectedFieldCount }}
        </span>
      </button>

      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <label class="dropdown-item">
          <input
            type="checkbox"
            [(ngModel)]="selectAllFilters"
            (change)="toggleSelectAll()"
          />
          Select All
        </label>

        <div class="dropdown-divider"></div>

        <label *ngFor="let field of filterFields" class="dropdown-item">
          <input
            type="checkbox"
            [(ngModel)]="field.selected"
            (change)="onCheckboxChange()"
          />
          {{ field.name }}
        </label>
      </div>
    </div>
  </div>

  <button
    class="btn btn-primary my-3"
    (click)="openModal()"
    *ngIf="selectedIndex"
  >
    Add New Document
  </button>

  <app-add-document-modal
    [schema]="indexSchema"
    (documentAdded)="onDocumentAdded($event)"
  ></app-add-document-modal>

  <app-edit-document-modal
    *ngIf="editingDocumentId"
    [sourceId]="sourceId"
    [index]="selectedIndex"
    [documentId]="editingDocumentId"
    [schema]="indexSchema"
    (documentEdited)="onDocumentEdited($event)"
    (modalClosed)="onDocumentEditClose()"
  ></app-edit-document-modal>

  <!-- Documents Table -->
  <div class="documents">
    <h3 *ngIf="documents.length">Documents in {{ selectedIndex }}</h3>
    <table class="table table-striped" *ngIf="documents.length">
      <thead>
        <tr>
          <th>ID</th>
          <th>Data</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let doc of documents; index as idx">
          <td>{{ doc._id }}</td>
          <td>
            <!-- Show JSON when not editing -->
            <pre>{{ doc.truncated }}</pre>

            <button
              class="back-button"
              (click)="viewDocument(doc._id)"
              *ngIf="doc.truncated.endsWith('...')"
            >
              <span>See More</span>
            </button>
          </td>
          <td class="action-cell">
            <button
              class="btn btn-primary btn-sm"
              (click)="editDocument(doc, idx)"
            >
              Edit
            </button>

            <button
              class="btn btn-danger btn-sm"
              (click)="deleteDocument(doc.id)"
            >
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <app-document-viewer-modal
      *ngIf="viewingDocumentId"
      [sourceId]="sourceId"
      [index]="selectedIndex"
      [documentId]="viewingDocumentId"
      (onClose)="closeViewModal()"
    ></app-document-viewer-modal>

    <div
      class="spinner-container"
      *ngIf="loadingDocuments"
      id="loadingMoreSpinner"
    >
      <div class="spinner-border text-primary" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>

    <div class="align-self-center mt-5 mb-3" *ngIf="stopInfiniteScroll">
      <h5><i class="bi bi-box-seam"></i> No more documents</h5>
    </div>

    <div #sentinel class="sentinel"></div>
  </div>
</div>
