.elastic-container {
  height: 100svh;
  max-height: 100svh;
  width: 80vw;
  padding: 10px 0 10px 0;
}

.documents {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.action-cell {
  position: relative;
  width: fit-content;
}

.action-cell {
  display: flex;
  align-items: center;
  align-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

.search-input {
  margin-top: 10px;
}

.sentinel {
  height: 10px;
  width: 10px;
}

#loadingMoreSpinner {
  align-self: center;
}
