.editor-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.table {
  max-width: 100%;
}

.table-wrapper {
  overflow-y: auto;
}

.buttons {
  gap: 6px;
}

.save-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.virtual-scroll {
  height: 60svh; /* Adjust this based on your UI */
  max-height: 50%;
  overflow: auto;
}
