.editor-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.table {
  max-width: 100%;
}

.table-wrapper {
  width: 80svw;
  max-height: 70svh;
  overflow-y: auto;
}

.buttons {
  gap: 6px;
}

.save-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.virtual-scroll {
  width: 80svw;
  height: 400px; /* Adjust this based on your UI */
  overflow: auto;
}
