<div class="editor-container mt-4">
  <div class="table-wrapper">
    <cdk-virtual-scroll-viewport itemSize="40" class="virtual-scroll">
      <table class="table table-bordered">
        <thead class="thead-light">
          <tr>
            <th>Key</th>
            <th>Value</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <ng-container
            *cdkVirtualFor="
              let entry of data;
              let i = index;
              trackBy: trackByIndex
            "
          >
            <tr *ngIf="!entry.isDeleted">
              <td>
                <input
                  #keyInput
                  type="text"
                  class="form-control"
                  [value]="entry.key"
                  (blur)="updateKey(i, $event.target.value)"
                />
              </td>
              <td>
                <input
                  type="text"
                  class="form-control"
                  [value]="entry.value"
                  (blur)="updateValue(i, $event.target.value)"
                />
              </td>
              <td class="text-center">
                <button class="btn btn-danger btn-sm" (click)="deleteEntry(i)">
                  <i class="bi bi-trash"></i>
                </button>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </cdk-virtual-scroll-viewport>
  </div>
  <div class="d-flex buttons">
    <button class="btn btn-primary" (click)="addEntry()">
      <i class="bi bi-plus-circle"></i> Add Entry
    </button>
    <button
      class="btn btn-success save-btn"
      style="width: 80px"
      (click)="updateFile()"
    >
      <app-loading-spinner
        *ngIf="isSaving"
        color="inherit"
        w="15"
        h="15"
      ></app-loading-spinner>
      <span *ngIf="!isSaving"> <i class="bi bi-save"></i> Save </span>
    </button>
  </div>
</div>
